@font-face {
  font-family: "Oswald";
  src: url("./Oswald.ttf");
}
@font-face {
  font-family: "Trebuchet";
  src: url("./Trebuchet.ttf");
}
@font-face {
  font-family: "Source_Light";
  src: url("./Source/Light.ttf");
}
@font-face {
  font-family: "Source_Regular";
  src: url("./Source/Regular.ttf");
}
@font-face {
  font-family: "Source_Bold";
  src: url("./Source/Bold.ttf");
}
