.image-b {
  // padding: 30px 100px 90px 100px;
  box-sizing: border-box;
  width: 100%;
  // height: 300px;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  .image-bog {
    box-sizing: border-box;
    width: 100%;
    max-height: 500px;
  }
}

.line-hr {
  background: #dbdbdb;
  /* color: red; */
  width: 100%;
  height: 0.5px;
  border: none;
  margin: 0px;
}
.image-bog:hover {
  transition: ease-in-out 0.3s;
}
.image-bog:hover::before {
  content: "fullscreen";
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  background: rgba(255, 255, 255, 0.342);
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.f-w {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .fullscreen {
    box-sizing: border-box;
    height: 100%;
  }
}

.main-blog {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  padding-top: 50px;
  .article-blog {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    // width: 100%;
    .controlImage {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      p {
        display: inline-block;
      }
      span {
        width: 100% !important;
        padding-bottom: 0px !important;
      }
      img {
        position: relative !important;
        width: 100% !important;

        // height: 600px !important;
      }
    }
  }
  .tag-section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
    .tag-w {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    }
  }
}
.disquss-section {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

@media only screen and (max-width: 880px) {
  .image-b {
    .image-bog {
      height: auto;
    }
  }
  .main-blog {
    grid-template-columns: 1fr;
  }
  .disquss-section {
    grid-template-columns: 1fr;
  }
}
