.news-content {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 500px;
  .stories-n {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    .stories-news {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 20px;
    }
  }

  .categories-news {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .tags {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 20px 0px;
    }
  }
}
.pagination-link-news {
  text-decoration: none;
}
.pagination-news {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

@media only screen and (max-width: 1500px) {
  .news-content {
    grid-template-columns: 1fr;
    .stories-n {
      .stories-news {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .categories-news {
      padding: 20px 0px;
      flex-direction: column;
      position: sticky;
      top: 0;
      .tags {
        .tag-link {
        }
      }
    }
  }
  .pagination-news {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 1360px) {
  .news-content {
    grid-template-columns: 1fr;
    .stories-n {
      .stories-news {
        grid-template-columns: 1fr 1fr;
      }
    }

    .categories-news {
      padding: 20px 0px;
      flex-direction: column;
      .tags {
        .tag-link {
        }
      }
    }
  }
  .pagination-news {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 880px) {
  .news-content {
    grid-template-columns: 1fr;
    .stories-n {
      .stories-news {
        grid-template-columns: 1fr;
      }
    }

    .categories-news {
      padding: 20px 0px;
      flex-direction: column;
      .tags {
        .tag-link {
        }
      }
    }
  }
  .pagination-news {
    padding: 50px 0px;
  }
}
