.main-ps {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  .text-ps {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .progress-bar {
    box-sizing: border-box;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    position: relative;
    background-color: var(--primary-color);
    margin: 10px;
  }
}
