.main-sc {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
  .image-cs {
    width: 150px;
    margin: auto;
  }
  .text-cs {
  }
}
