.main-sc {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    .image-cs {
        width: 150px;
    }
    .text-cs {

    }
}