@import url("../../assets/Fonts/fonts.scss");
:root {
  --primary-font: "Trebuchet";
  --ai-regular: "Segoe";
  --ai-bold: "Segoe_Bold";
  --header-font: "Oswald";
  --secondary-font-regular: "Source_Regular";
  --secondary-font-light: "Source_Light";
  --secondary-font-bold: "Source_Bold";
}
.main-t {
  margin: 0px;
}
.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
  -webkit-box-orient: vertical;
  /* Add any additional styles you need */
}
.light {
  color: white;
}
.sentence-case {
  text-transform: capitalize !important;
}
.dark {
  color: #171717;
}
.center {
  text-align: center;
}
.gray {
  color: #8b8b8b;
}
.gradientText {
  margin-top: 0px;
  background-size: 100%;
  -webkit-background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -moz-text-fill-color: transparent !important;
  background: linear-gradient(
    144deg,
    #7cc25d 0%,
    #2a7ddf 52.08%,
    #288dda 59.38%,
    #0a9eff 59.39%,
    #269dd5 79.69%,
    #1de2bf 100%
  );
}
p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.089);
}
.ai-font {
  font-family: var(--ai-regular) !important;
}
.ai-font-bold {
  font-family: var(--ai-bold) !important;
}
.h1 {
  font-family: var(--header-font);
  font-size: 96px;
}
.h2 {
  font-family: var(--header-font);
  font-size: 60px;
}
.h3 {
  font-family: var(--header-font);
  font-size: 48px;
}
.h4 {
  font-family: var(--header-font);
  font-size: 34px;
}
.h5 {
  font-family: var(--header-font);
  font-size: 24px;
}
.h6 {
  font-family: var(--header-font);
  font-size: 20px;
}
.s1 {
  font-family: var(--secondary-font-bold);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.s2 {
  font-family: var(--secondary-font-regular);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.b1 {
  font-family: var(--secondary-font-regular);
  font-size: 1.2em;
}
.b2 {
  font-family: var(--secondary-font-regular);
  font-size: 1em;
}
.button {
  font-family: var(--secondary-font-bold);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}
.caption {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 20px;
}
.overline {
  font-family: var(--primary-font);
  font-size: 12px;
  text-transform: uppercase;
}
