.main-l {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .floatNavigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 200;
  }
  .children-l {
    box-sizing: border-box;
    height: calc(100% - 54px);
    width: calc(100%);
    overflow-y: auto;
  }
}

.feedback-ui-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--primary-color);
  z-index: 300;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  cursor: pointer;
  .chat-icon {
    width: 20px;
  }
  .chat-label-show {
    z-index: 100;
    width: auto;
  }

  .feedback-ui {
    box-sizing: border-box;
    position: absolute;
    bottom: 110%;
    right: 0px;
    background: white;
    z-index: 300;
    padding: 20px 15px 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 500%;
    border: solid 1px var(--primary-color);
    // padding: 30px 10px;
    // height: 200px;
    cursor: default;
    .main-form,
    .motion-class {
      box-sizing: border-box;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    form {
      box-sizing: border-box;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      .main-form-header {
        display: grid;
        grid-template-columns: 1fr auto;
        img {
          width: 20px;
          height: 20px;
          margin: 10px;
        }
        .maximize,
        .minimize {
          cursor: pointer;
          // background-color: red;
          margin: 2px;
          // border: solid 1px var(--primary-color);
        }
        .main-form-icons {
          display: flex;
        }
      }
      .form-message {
        padding: 20px;
        position: absolute;
        bottom: -66px;
        left: 0;
        width: 72%;
      }
      .status-success {
        background-color: var(--primary-color);
      }
      .status-error {
        background-color: red;
      }
    }
  }
}
@media only screen and (max-width: 880px) {
  .feedback-ui-button {
    .feedback-ui {
      width: 90vw;
    }
  }

  .main-l {
  }
}
