a {
  margin: 0px;
}
.item {
  padding: 20px 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  position: relative;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  z-index: 20;
}
.item:hover {
  transform: translateY(-5px);
}
.menuToggle {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: none;
  padding: 10px;
  color: white;
}
.item::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  height: 2px;
  transition: ease-in-out 0.3s;
  opacity: 0;
  background-color: var(--tertiary-color);
}
.item:hover::before {
  opacity: 1;
  transition: ease-in-out 0.3s;
  background-color: var(--primary-color);
}
.active {
  padding: 10px;
  color: white;
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  position: relative;
  transition: ease-in-out 0.3s;
  border-bottom: solid 2px var(--primary-color);
  background: #00000000 !important;
}
.inactive {
  border-bottom: solid 1px rgba(0, 0, 0, 0);
}
.dropdown {
  padding: 20px 10px;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0px 5px 0px 0px;
  transition: ease-in-out 0.3s;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  text-decoration: none;
  .dropdown--label {
    color: white;
    text-decoration: none;
  }
  .dropdown--items {
    left: 0;
    right: 0;
    opacity: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(7, 63, 78, 0.795), rgba(7, 63, 78, 0.801)),
      url(https://grainy-gradients.vercel.app/noise.svg);
    backdrop-filter: blur(30px);
    position: absolute;
    z-index: 20;
    z-index: 100;
    top: 100%;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    overflow: hidden;
    transition: ease-in-out 0.1s;
  }
  .dropdown--items:hover {
    opacity: 1;
    transition: ease-in-out 0.3s;
    padding: 10px;
    height: auto;
  }
  .dropdown-icon {
    color: white;
    width: 15px;
    transform: rotate(0deg);
    transition: ease-in-out 0.3s;
  }
}
.dropdown:hover {
  .dropdown--items {
    opacity: 1;
    transition: ease-in-out 0.3s;
    padding: 10px;
    height: auto;
  }
  .dropdown-icon {
    transform: rotate(180deg);
    transition: ease-in-out 0.3s;
  }
}
.m-dropdown {
  box-sizing: border-box;
  padding: 20px 10px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin: 0px 5px 0px 0px;
  transition: ease-in-out 0.3s;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  width: 100%;
  .m-label {
    background: none;
    border: none;
    color: white;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
  }
  .links {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .l-open {
    height: auto;
    transition: ease-in-out 0.3s;
  }
  .l-close {
    display: none;
    height: 0px;
    transition: ease-in-out 0.2s;
  }
  .dropdown-icon {
    color: white;
    width: 15px;
    transform: rotate(0deg);
    transition: ease-in-out 0.3s;
  }
  .rotate-icon {
    transform: rotate(180deg);
  }
}
.navigation--- {
  background-color: var(--tertiary-color);
  padding: 0px 100px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  .linksWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    .logo-n-w {
      height: 30px;
      .logo {
        width: 70px;
      }
    }

    .links--- {
      display: flex;
      align-items: center;
    }
  }
  .expandingMenu {
    position: absolute;
    top: 54px;
    left: 0px;
    right: 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--tertiary-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 900;
    overflow-y: auto;
    max-height: 560px;
    .aihack {
      color: black !important;
    }
  }
  .ex-open {
    transition: ease-in-out 0.3s;
    height: auto;
  }
  .ex-close {
    padding: 0px;
    transition: ease-in-out 0.3s;
    height: 0px;
  }
}
.codetribe-link {
  // background: var(--primary-color);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.aihack {
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
  background-image: repeating-linear-gradient(315deg, #00ffff2e 92%, #073aff00 100%),
    repeating-radial-gradient(75% 75% at 238% 218%, #00ffff12 30%, #073aff14 39%),
    radial-gradient(99% 99% at 109% 2%, #00c9ffff 0%, #16ff0000 100%),
    radial-gradient(99% 99% at 21% 78%, #00ffb5ff 0%, #ffffff00 100%),
    radial-gradient(160% 154% at 711px -303px, #2000ffff 0%, #073affff 100%);
  box-sizing: border-box;

  padding: 20px;
  text-decoration: none;

  .system {
    position: absolute;
    width: 100%;
    max-width: 689px;
    -webkit-transform: scale(-0.5px);
    transform: scale(-0.5px);
    padding-top: 100%;
    z-index: 200;
    opacity: 0.2;
    pointer-events: none;
    transform: translateX(151px);
    @media (min-width: 700px) {
      padding-top: 700px;
    }

    &__sun {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
    }

    &__orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      animation: spin infinite linear both;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          width: calc(#{$i}0%);
          height: calc(#{$i}0%);
        }
      }

      &--sun {
        border: none;
      }

      &--mercury {
        animation-duration: 1s;
      }

      &--venus {
        animation-duration: 2.6s;
      }

      &--earth {
        animation-duration: 4.1s;
      }

      &--mars {
        animation-duration: 7.8s;
      }

      &--jupiter {
        animation-duration: 49.8s;
      }

      &--saturn {
        animation-duration: 120.3s;
      }

      &--uranus {
        animation-duration: 348.4s;
      }

      &--neptune {
        animation-duration: 684.4s;
      }

      &--pluto {
        animation-duration: 1028.6s;
      }
    }

    &__planet {
      position: absolute;
      top: 50%;
      left: -12px;
      width: 25px;
      height: 25px;
      border-radius: 100%;
      transform: translateY(-50%);
    }

    &__icon {
      width: 100%;
      height: 100%;
    }
  }

  @keyframes spin {
    from {
      transform: translate(-50%, -50%);
    }

    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
}

@media only screen and (max-width: 1296px) {
  .menuToggle {
    display: block;
  }
  .navigation--- {
    padding: 15px;
    .linksWrapper {
      .logo {
        width: 60px;
      }
      .links--- {
        display: none;
      }
    }
    .expandingMenu {
      top: 80px;
    }
  }
}
