.form-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  .form-details {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .main-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    .form-formik {
      box-sizing: border-box;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}
.locaton-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 30px;
  margin-bottom: 90px;
  .location-image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .location-details {
    box-sizing: border-box;
    width: 100%;
    .map-locations {
      box-sizing: border-box;
      border: solid 0px black;
    }
  }
}
@media only screen and (max-width: 980px) {
  .form-wraper {
    grid-template-columns: 1fr;
    .main-form {
      .form-formik {
        margin: 90px 0px;
      }
    }
  }
  .locaton-wrapper {
    grid-template-columns: 1fr;
  }
}
