.carousel-main {
  box-sizing: border-box;
  width: 100%;
  // height: calc(100vh - 80px);
}
.swiper {
  width: 100%;
  height: 100%;
}
::ng-deep .swiper-button-prev,
::ng-deep .swiper-button-next {
  color: white;
}
.arrow {
  width: 50px;
  .left {
  }
  .right {
    transform: rotate(180deg);
  }
}
.dot {
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  background-color: rgb(241, 241, 241);
  transition: ease-in-out 0.3s;
}
.active-dot {
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
  width: 10px;
  background-color: var(--primary-color);
}
.main-c {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
}
.mySwiper {
  box-sizing: border-box;
  width: 100%;
  // height: calc(100vh - 150px);
}
.item-c {
  box-sizing: border-box;
  width: 100%;
  // height: calc(100vh - 150px);
  position: relative;
  overflow: hidden;

  text-align: center;
  font-size: 18px;
  .item-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .details-c {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 90px;
    z-index: 3;
    div {
      :nth-child(0) {
        font-size: 90px;
      }
    }
    .header-text-c {
      text-transform: uppercase;
    }
    .silentDiv {
      height: 0px;
    }
  }
}
.item-c::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  background: linear-gradient(
    90deg,
    rgba(13, 77, 88, 0.76),
    rgba(13, 77, 88, 0.205)
  );
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  // transform: rotate(-45deg);
  z-index: 0;
}
.item-c::before {
  content: "";
  position: absolute;
  width: 1000px;
  // height: 1000px;
  border-radius: 0px;
  background: linear-gradient(90deg, rgb(0 0 0 / 0%), rgb(61 141 35));
  box-sizing: border-box;
  margin-bottom: 0;
  transform: rotate(-45deg);
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media only screen and (max-width: 1600px) {
  .item-c {
    .details-c {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  }
}
@media only screen and (max-width: 880px) {
  .item-c {
    .details-c {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  }
}
