.footer {
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.884)),
    url("../../images/backgrounds/download.png");
  padding: 70px 100px 40px 100px;
  background-size: cover;
  .sections {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    .logo-w {
      .logo {
        width: 100px;
      }
      .links-f {
        color: white;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: start;
        gap: 20px;
        padding: 20px 0px;
        .social-link {
          display: flex;
          justify-content: center;
          width: 50px;
          color: white;
          border-bottom: solid 1px var(--primary-color);
          padding: 10px;
          transition: ease-in-out 0.3s;
        }
        .social-link:hover {
          transition: ease-in-out 0.3s;
          color: var(--primary-color);
        }
      }
    }
    .links-w {
      display: flex;
      flex-direction: column;
    }
    .address-w {
      grid-template-columns: 1fr;
      column-gap: 20px;

      .map-f {
        border-radius: 10px;
        box-sizing: border-box;
        width: 100%;
        border: none;
      }
    }
  }

}
@media only screen and (max-width: 880px) {
  .footer {
    padding: 90px 20px;
    .sections {
      grid-template-columns: 1fr;
      div {
        border-bottom: solid 1px var(--secondary-color);
      }
    }
  }
}
